# macOS
.DS_Store
**/.DS_Store

# Git
.git
.gitignore
.gitattributes

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
*.egg-info
.pytest_cache
.coverage
htmlcov/
dist/
build/

# Virtual environments
venv/
env/
ENV/
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
